<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
</head>

<body>
    <header id="header">
        <div class="nav">
        <div class="logo">
            Evaluate-a-News-Article-with-NLP
        </div>
        <div class="home">
            Home
        </div>
       </div>
        <section class="text-content">
            <form id="form" >
                <input id="userInput" type="text" name="input" value="" placeholder="paste an article URL" >
                <input type="submit" name="" value="submit" id="button">
                <input type="reset" name="" value="reset" id="reset">

            </form>
       
           <section>
            <strong>Form Results:</strong>
            <div>
                <p id="results"></p>
            </div>
            </section>
       </section>
  </header>

    <footer class="footer">
        <div class="container">
          <p class="footer-text">This is the footer</p>
        </div>
      </footer>
    
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>